/* Base font and background for the entire page */
body {
    font-family: Arial, sans-serif;
    background: #f6f9fc;
    padding: 20px;
}

/* Header Styling */
h1 {
    text-align: center;
    color: #721b2b;
}

/* Form Container Styling */
form {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Put every labels in block */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
